body{
    background-color: rgb(164, 213, 205);
    color:rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h1{
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-family:Bookman, URW Bookman L, serif;
    padding-left: 8%;
    padding-top: 12%;
    padding-bottom: 22%;
}
nav {
    background-color: rgb(255, 255, 255);
}

table{
    table-layout: fixed;
    color: rgb(70, 70, 70);
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px;
    border: 1px;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    padding-top: 5%;
}

p {
    font-family: Bookman, URW Bookman L, serif;
    text-align: center;
    font-size: 140%;
}

a {
    color: rgb(70, 70, 70);
}

div {
    background-color: rgb(70, 70, 70);
    text-align: justify;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
}
p1 {
    text-align: right;
}

* {
    margin: 0;
}

p3 {
    padding: 0;
}